In [2]:
%matplotlib inline
import importlib
from pytorch_utils_oh_2 import *

Pytorch utils oh: pytorch_utils_oh_2.py
Pytorch: 0.2.0_4

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
import pytorch_utils_oh_2; importlib.reload(pytorch_utils_oh_2); from pytorch_utils_oh_2 import *;

Pytorch utils oh: pytorch_utils_oh_2.py
Pytorch: 0.2.0_4

# Data loading

In [29]:
all_data = pickle.load(open("data/en_train_fixed_1.pkl", "rb" ))
all_data_sentence_index = all_data.set_index('sentence_id')

In [4]:
categories_all = sorted(all_data["class"].unique())
print(categories_all)
print(len(categories_all))
categories_index = dict((c, i) for i, c in enumerate(categories_all))

['ELECTRONIC', 'LETTERS', 'NOT_CHANGED', 'NUMBERS', 'PLAIN', 'VERBATIM']
6

### After words handling

In [5]:
words_after_common = pickle.load(open("data/en_features/words_after_all.pkl", "rb"))
words_after_common = [EOS_TOKEN, SOS_TOKEN, UNKNOWN_WORD_TOKEN, NUMBER_WORD_TOKEN, SAMPLE_WORD_TOKEN] + words_after_common
words_after_common[0:7]
words_after_index = dict((c, i) for i, c in enumerate(words_after_common))

['<EOS>', '<SOS>', '<UNK>', '<0000>', '<SAMPLE>', 'two', 'twenty']

In [102]:
pickle.dump(words_after_common, open("data/en_features/words_after_ext.pkl", 'wb'))

In [103]:
len(words_after_index)

1351

In [6]:
words_after_by_length = sorted(words_after_common, key=len, reverse=True)
words_after_regex = re.compile('(' + ')|('.join(words_after_by_length) + ')')

In [7]:
def after_sentence_to_word_indexes(sentence, include_eos=True):
    reg = re.finditer(words_after_regex, sentence)
    arr = [words_after_index[s[0]] for s in reg]
    if include_eos:
        arr += [words_after_index[EOS_TOKEN]]
    return arr
tmp = after_sentence_to_word_indexes('one plus two equals one hundred')
tmp
[words_after_common[s] for s in tmp]

[9, 1212, 5, 1252, 9, 10, 0]

['one', 'plus', 'two', 'equals', 'one', 'hundred', '<EOS>']

# Preparing data a_word_ind

In [11]:
changed_data = all_data[all_data['class'] != 'NOT_CHANGED']
len(changed_data)

659544

In [13]:
len(changed_data[changed_data['after'].str.len() == changed_data['before'].str.len()])
len(changed_data[changed_data['after'].str.len() != changed_data['before'].str.len()])
len(changed_data[changed_data['after'].str.len() > changed_data['before'].str.len()])
len(changed_data[changed_data['after'].str.len() < changed_data['before'].str.len()])

9527

650017

600384

49633

In [14]:
changed_data[0:1]

    sentence_id  token_id    class before             after class_org
10            1         0  NUMBERS   2006  two thousand six      DATE

In [17]:
def prepare_after_by_rows(pd_rows):
    global current_row
    iter_len = len(pd_rows)
    rows_iter = pd_rows.itertuples()
    iteration_idx = 0
    start = time.time()
    
    for sample_row in log_progress(rows_iter, every=10, size=iter_len):
        before = sample_row.before
        current_row = sample_row

        a_word_ind = after_sentence_to_word_indexes(sample_row.after, include_eos=True)
        
        all_data.at[sample_row.Index, 'a_word_ind'] = a_word_ind

        iteration_idx += 1
        if iteration_idx%10000 == 0:
            print("{:>7d} {:>2.2%} ({:>8})".format(iteration_idx, iteration_idx/iter_len, time_since(start)))

In [23]:
all_data.sample(2)

,sentence_id,token_id,class,before,after,class_org,a_word_ind
3753960,288855,12,NOT_CHANGED,roughly,roughly,PLAIN,NaN
9800619,739388,4,NOT_CHANGED,author,author,PLAIN,NaN

In [40]:
all_data.at[0, 'a_word_ind'] = [1, 12]
#all_data.head()
all_data.at[0, 'a_word_ind'] = all_data.at[1, 'a_word_ind']
#all_data.head()

In [50]:
prepare_after_by_rows(changed_data)

  10000 1.52% (  0m 24s)
  20000 3.03% (  0m 49s)
  30000 4.55% (  1m 14s)
  40000 6.06% (  1m 40s)
  50000 7.58% (   2m 5s)
  60000 9.10% (  2m 30s)
  70000 10.61% (  2m 55s)
  80000 12.13% (  3m 20s)
  90000 13.65% (  3m 46s)
 100000 15.16% (  4m 12s)
 110000 16.68% (  4m 37s)
 120000 18.19% (   5m 3s)
 130000 19.71% (  5m 29s)
 140000 21.23% (  5m 54s)
 150000 22.74% (  6m 19s)
 160000 24.26% (  6m 45s)
 170000 25.78% (  7m 11s)
 180000 27.29% (  7m 37s)
 190000 28.81% (   8m 2s)
 200000 30.32% (  8m 26s)
 210000 31.84% (  8m 51s)
 220000 33.36% (  9m 17s)
 230000 34.87% (  9m 43s)
 240000 36.39% (  10m 7s)
 250000 37.90% ( 10m 34s)
 260000 39.42% ( 10m 59s)
 270000 40.94% ( 11m 25s)
 280000 42.45% ( 11m 51s)
 290000 43.97% ( 12m 18s)
 300000 45.49% ( 12m 43s)
 310000 47.00% (  13m 9s)
 320000 48.52% ( 13m 34s)
 330000 50.03% ( 13m 59s)
 340000 51.55% ( 14m 25s)
 350000 53.07% ( 14m 50s)
 360000 54.58% ( 15m 15s)
 370000 56.10% ( 15m 40s)
 380000 57.62% (  16m 5s)
 390000 59.13% ( 16m 30s)
 400000 60.65% ( 16m 56s)
 410000 62.16% ( 17m 22s)
 420000 63.68% ( 17m 47s)
 430000 65.20% ( 18m 13s)
 440000 66.71% ( 18m 38s)
 450000 68.23% (  19m 3s)
 460000 69.75% ( 19m 28s)
 470000 71.26% ( 19m 53s)
 480000 72.78% ( 20m 16s)
 490000 74.29% ( 20m 40s)
 500000 75.81% (  21m 4s)
 510000 77.33% ( 21m 28s)
 520000 78.84% ( 21m 51s)
 530000 80.36% ( 22m 16s)
 540000 81.87% ( 22m 39s)
 550000 83.39% (  23m 2s)
 560000 84.91% ( 23m 24s)
 570000 86.42% ( 23m 48s)
 580000 87.94% ( 24m 12s)
 590000 89.46% ( 24m 36s)
 600000 90.97% (  25m 3s)
 610000 92.49% ( 25m 25s)
 620000 94.00% ( 25m 48s)
 630000 95.52% ( 26m 11s)
 640000 97.04% ( 26m 33s)
 650000 98.55% ( 26m 57s)

In [57]:
all_data[all_data['class'] != 'NOT_CHANGED'].sample(10)

,sentence_id,token_id,class,before,after,class_org,a_word_ind
393639,31595,0,LETTERS,U.S.,u s,LETTERS,"[43, 17, 0]"
4627569,354438,4,LETTERS,pp,p p,LETTERS,"[24, 24, 0]"
3875346,297935,1,PLAIN,organises,organizes,PLAIN,"[364, 0]"
8659494,654956,8,NUMBERS,II,two,CARDINAL,"[5, 0]"
6733858,511669,13,LETTERS,PDF,p d f,LETTERS,"[24, 26, 37, 0]"
3608707,277851,17,NUMBERS,2/2013,two two thousand thirteenths,FRACTION,"[5, 5, 8, 373, 0]"
3348284,258230,7,NUMBERS,857,eight hundred fifty seven,CARDINAL,"[16, 10, 38, 18, 0]"
9157563,691631,10,NUMBERS,1st,first,ORDINAL,"[56, 0]"
856597,68192,7,NUMBERS,12325,twelve thousand three hundred twenty five,CARDINAL,"[47, 8, 13, 10, 6, 14, 0]"
6268151,477020,13,NUMBERS,"July 12, 1991",july twelfth nineteen ninety one,DATE,"[67, 95, 7, 23, 9, 0]"

In [54]:
pickle.dump(all_data, open("data/en_train_fixed_2_a_word_ind.pkl", "wb" ))

# Preparing data sentence_tokenized

In [56]:
all_data = pickle.load(open("data/en_train_fixed_2_a_word_ind.pkl", "rb" ))
all_data_sentence_index = all_data.set_index('sentence_id')

In [58]:
changed_data = all_data[all_data['class'] != 'NOT_CHANGED']

In [59]:
changed_data.sample(2)

,sentence_id,token_id,class,before,after,class_org,a_word_ind
664310,53038,14,NUMBERS,2009,two thousand nine,DATE,"[5, 8, 15, 0]"
6496403,493979,8,NUMBERS,1929,nineteen twenty nine,DATE,"[7, 6, 15, 0]"

In [88]:
def prepare_sentence_tokenized_by_rows(pd_rows):
    global current_row
    iter_len = len(pd_rows)
    rows_iter = pd_rows.itertuples()
    iteration_idx = 0
    start = time.time()
    
    for sample_row in log_progress(rows_iter, every=10, size=iter_len):
        before = sample_row.before
        current_row = sample_row

        sent_rows = all_data_sentence_index.loc[sample_row.sentence_id]
        befores = list(sent_rows.before)
        token_id_idx = list(sent_rows['token_id']).index(sample_row.token_id)
        
        befores = [simple_tokeniser(w) for w in befores]
        befores[token_id_idx] = [SAMPLE_WORD_TOKEN]
        befores = np.concatenate(befores)
    
        sentence = ' '.join(befores)

        all_data.at[sample_row.Index, 'sentence'] = sentence
        
        iteration_idx += 1
        if iteration_idx%50000 == 0 or iteration_idx == 5000:
            print("{:>7d} {:>2.2%} ({:>8})".format(iteration_idx, iteration_idx/iter_len, time_since(start)))

In [85]:
prepare_sentence_tokenized_by_rows(changed_data)

  10000 1.52% (   0m 7s)
  20000 3.03% (  0m 14s)
  30000 4.55% (  0m 21s)
  40000 6.06% (  0m 28s)
  50000 7.58% (  0m 35s)
  60000 9.10% (  0m 42s)
  70000 10.61% (  0m 49s)
  80000 12.13% (  0m 56s)
  90000 13.65% (   1m 4s)
 100000 15.16% (  1m 12s)
 110000 16.68% (  1m 19s)
 120000 18.19% (  1m 27s)
 130000 19.71% (  1m 35s)
 140000 21.23% (  1m 42s)
 150000 22.74% (  1m 50s)
 160000 24.26% (  1m 58s)
 170000 25.78% (   2m 5s)
 180000 27.29% (  2m 13s)
 190000 28.81% (  2m 21s)
 200000 30.32% (  2m 28s)
 210000 31.84% (  2m 36s)
 220000 33.36% (  2m 44s)
 230000 34.87% (  2m 52s)
 240000 36.39% (  2m 59s)
 250000 37.90% (   3m 7s)
 260000 39.42% (  3m 14s)
 270000 40.94% (  3m 22s)
 280000 42.45% (  3m 30s)
 290000 43.97% (  3m 37s)
 300000 45.49% (  3m 45s)
 310000 47.00% (  3m 52s)
 320000 48.52% (   4m 0s)
 330000 50.03% (   4m 8s)
 340000 51.55% (  4m 16s)
 350000 53.07% (  4m 24s)
 360000 54.58% (  4m 32s)
 370000 56.10% (  4m 40s)
 380000 57.62% (  4m 48s)
 390000 59.13% (  4m 55s)
 400000 60.65% (   5m 3s)
 410000 62.16% (  5m 11s)
 420000 63.68% (  5m 18s)
 430000 65.20% (  5m 25s)
 440000 66.71% (  5m 32s)
 450000 68.23% (  5m 40s)
 460000 69.75% (  5m 47s)
 470000 71.26% (  5m 54s)
 480000 72.78% (   6m 2s)
 490000 74.29% (   6m 9s)
 500000 75.81% (  6m 16s)
 510000 77.33% (  6m 23s)
 520000 78.84% (  6m 30s)
 530000 80.36% (  6m 37s)
 540000 81.87% (  6m 44s)
 550000 83.39% (  6m 52s)
 560000 84.91% (  6m 59s)
 570000 86.42% (   7m 6s)
 580000 87.94% (  7m 14s)
 590000 89.46% (  7m 21s)
 600000 90.97% (  7m 28s)
 610000 92.49% (  7m 35s)
 620000 94.00% (  7m 42s)
 630000 95.52% (  7m 49s)
 640000 97.04% (  7m 57s)
 650000 98.55% (   8m 4s)

In [86]:
all_data[9:14]

,sentence_id,token_id,class,before,after,class_org,a_word_ind,sentence
9,0,9,NOT_CHANGED,.,.,PUNCT,NaN,NaN
10,1,0,NUMBERS,2006,two thousand six,DATE,"[5, 8, 20, 0]",<SAMPLE> iucn red list of threatened species .
11,1,1,LETTERS,IUCN,i u c n,LETTERS,"[31, 43, 21, 29, 0]",2006 <SAMPLE> red list of threatened species .
12,1,2,NOT_CHANGED,Red,Red,PLAIN,NaN,NaN
13,1,3,NOT_CHANGED,List,List,PLAIN,NaN,NaN

In [87]:
pickle.dump(all_data, open("data/en_train_fixed_3_changed_sentences.pkl", "wb" ))

In [89]:
prepare_sentence_tokenized_by_rows(all_data)

   5000 0.05% (   0m 3s)
  50000 0.50% (  0m 35s)
 100000 1.01% (  1m 11s)
 150000 1.51% (  1m 47s)
 200000 2.02% (  2m 24s)
 250000 2.52% (  2m 59s)
 300000 3.02% (  3m 35s)
 350000 3.53% (  4m 11s)
 400000 4.03% (  4m 47s)
 450000 4.54% (  5m 22s)
 500000 5.04% (  5m 58s)
 550000 5.55% (  6m 34s)
 600000 6.05% (  7m 10s)
 650000 6.55% (  7m 46s)
 700000 7.06% (  8m 23s)
 750000 7.56% (  8m 59s)
 800000 8.07% (  9m 35s)
 850000 8.57% ( 10m 11s)
 900000 9.07% ( 10m 47s)
 950000 9.58% ( 11m 23s)
1000000 10.08% (  12m 0s)
1050000 10.59% ( 12m 35s)
1100000 11.09% ( 13m 12s)
1150000 11.59% ( 13m 49s)
1200000 12.10% ( 14m 25s)
1250000 12.60% (  15m 1s)
1300000 13.11% ( 15m 39s)
1350000 13.61% ( 16m 14s)
1400000 14.12% ( 16m 50s)
1450000 14.62% ( 17m 28s)
1500000 15.12% (  18m 5s)
1550000 15.63% ( 18m 42s)
1600000 16.13% ( 19m 19s)
1650000 16.64% ( 19m 56s)
1700000 17.14% ( 20m 33s)
1750000 17.64% (  21m 8s)
1800000 18.15% ( 21m 44s)
1850000 18.65% ( 22m 19s)
1900000 19.16% ( 22m 54s)
1950000 19.66% ( 23m 29s)
2000000 20.16% (  24m 4s)
2050000 20.67% ( 24m 41s)
2100000 21.17% ( 25m 17s)
2150000 21.68% ( 25m 52s)
2200000 22.18% ( 26m 29s)
2250000 22.69% (  27m 6s)
2300000 23.19% ( 27m 43s)
2350000 23.69% ( 28m 19s)
2400000 24.20% ( 28m 56s)
2450000 24.70% ( 29m 33s)
2500000 25.21% (  30m 9s)
2550000 25.71% ( 30m 46s)
2600000 26.21% ( 31m 22s)
2650000 26.72% ( 31m 59s)
2700000 27.22% ( 32m 36s)
2750000 27.73% ( 33m 12s)
2800000 28.23% ( 33m 48s)
2850000 28.74% ( 34m 24s)
2900000 29.24% (  35m 0s)
2950000 29.74% ( 35m 36s)
3000000 30.25% ( 36m 12s)
3050000 30.75% ( 36m 49s)
3100000 31.26% ( 37m 26s)
3150000 31.76% (  38m 2s)
3200000 32.26% ( 38m 39s)
3250000 32.77% ( 39m 15s)
3300000 33.27% ( 39m 51s)
3350000 33.78% ( 40m 27s)
3400000 34.28% (  41m 3s)
3450000 34.78% ( 41m 39s)
3500000 35.29% ( 42m 15s)
3550000 35.79% ( 42m 51s)
3600000 36.30% ( 43m 27s)
3650000 36.80% (  44m 3s)
3700000 37.31% ( 44m 39s)
3750000 37.81% ( 45m 15s)
3800000 38.31% ( 45m 51s)
3850000 38.82% ( 46m 27s)
3900000 39.32% (  47m 3s)
3950000 39.83% ( 47m 39s)
4000000 40.33% ( 48m 14s)
4050000 40.83% ( 48m 50s)
4100000 41.34% ( 49m 26s)
4150000 41.84% (  50m 3s)
4200000 42.35% ( 50m 38s)
4250000 42.85% ( 51m 14s)
4300000 43.35% ( 51m 51s)
4350000 43.86% ( 52m 27s)
4400000 44.36% (  53m 3s)
4450000 44.87% ( 53m 39s)
4500000 45.37% ( 54m 15s)
4550000 45.88% ( 54m 51s)
4600000 46.38% ( 55m 27s)
4650000 46.88% (  56m 4s)
4700000 47.39% ( 56m 40s)
4750000 47.89% ( 57m 15s)
4800000 48.40% ( 57m 51s)
4850000 48.90% ( 58m 27s)
4900000 49.40% (  59m 3s)
4950000 49.91% ( 59m 38s)
5000000 50.41% ( 60m 15s)
5050000 50.92% ( 60m 50s)
5100000 51.42% ( 61m 26s)
5150000 51.92% (  62m 2s)
5200000 52.43% ( 62m 38s)
5250000 52.93% ( 63m 14s)
5300000 53.44% ( 63m 51s)
5350000 53.94% ( 64m 27s)
5400000 54.45% (  65m 2s)
5450000 54.95% ( 65m 38s)
5500000 55.45% ( 66m 13s)
5550000 55.96% ( 66m 48s)
5600000 56.46% ( 67m 24s)
5650000 56.97% (  68m 1s)
5700000 57.47% ( 68m 37s)
5750000 57.97% ( 69m 13s)
5800000 58.48% ( 69m 49s)
5850000 58.98% ( 70m 26s)
5900000 59.49% (  71m 4s)
5950000 59.99% ( 71m 40s)
6000000 60.49% ( 72m 17s)
6050000 61.00% ( 72m 53s)
6100000 61.50% ( 73m 29s)
6150000 62.01% (  74m 5s)
6200000 62.51% ( 74m 42s)
6250000 63.02% ( 75m 17s)
6300000 63.52% ( 75m 54s)
6350000 64.02% ( 76m 29s)
6400000 64.53% (  77m 5s)
6450000 65.03% ( 77m 41s)
6500000 65.54% ( 78m 17s)
6550000 66.04% ( 78m 52s)
6600000 66.54% ( 79m 27s)
6650000 67.05% (  80m 2s)
6700000 67.55% ( 80m 38s)
6750000 68.06% ( 81m 14s)
6800000 68.56% ( 81m 50s)
6850000 69.07% ( 82m 26s)
6900000 69.57% (  83m 3s)
6950000 70.07% ( 83m 39s)
7000000 70.58% ( 84m 15s)
7050000 71.08% ( 84m 52s)
7100000 71.59% ( 85m 28s)
7150000 72.09% (  86m 4s)
7200000 72.59% ( 86m 41s)
7250000 73.10% ( 87m 19s)
7300000 73.60% ( 87m 55s)
7350000 74.11% ( 88m 32s)
7400000 74.61% (  89m 8s)
7450000 75.11% ( 89m 45s)
7500000 75.62% ( 90m 22s)
7550000 76.12% ( 90m 58s)
7600000 76.63% ( 91m 34s)
7650000 77.13% ( 92m 10s)
7700000 77.64% ( 92m 47s)
7750000 78.14% ( 93m 24s)
7800000 78.64% (  94m 1s)
7850000 79.15% ( 94m 37s)
7900000 79.65% ( 95m 13s)
7950000 80.16% ( 95m 49s)
8000000 80.66% ( 96m 25s)
8050000 81.16% (  97m 0s)
8100000 81.67% ( 97m 35s)
8150000 82.17% ( 98m 11s)
8200000 82.68% ( 98m 48s)
8250000 83.18% ( 99m 25s)
8300000 83.68% ( 100m 1s)
8350000 84.19% (100m 37s)
8400000 84.69% (101m 14s)
8450000 85.20% (101m 50s)
8500000 85.70% (102m 26s)
8550000 86.21% ( 103m 3s)
8600000 86.71% (103m 39s)
8650000 87.21% (104m 15s)
8700000 87.72% (104m 52s)
8750000 88.22% (105m 28s)
8800000 88.73% ( 106m 4s)
8850000 89.23% (106m 41s)
8900000 89.73% (107m 18s)
8950000 90.24% (107m 55s)
9000000 90.74% (108m 31s)
9050000 91.25% ( 109m 8s)
9100000 91.75% (109m 45s)
9150000 92.25% (110m 21s)
9200000 92.76% (110m 58s)
9250000 93.26% (111m 35s)
9300000 93.77% (112m 11s)
9350000 94.27% (112m 48s)
9400000 94.78% (113m 25s)
9450000 95.28% ( 114m 1s)
9500000 95.78% (114m 37s)
9550000 96.29% (115m 14s)
9600000 96.79% (115m 50s)
9650000 97.30% (116m 27s)
9700000 97.80% ( 117m 4s)
9750000 98.30% (117m 40s)
9800000 98.81% (118m 17s)
9850000 99.31% (118m 53s)
9900000 99.82% (119m 29s)

In [90]:
all_data[9:14]

,sentence_id,token_id,class,before,after,class_org,a_word_ind,sentence
9,0,9,NOT_CHANGED,.,.,PUNCT,NaN,brillantaisia is a genus of plant in family ac...
10,1,0,NUMBERS,2006,two thousand six,DATE,"[5, 8, 20, 0]",<SAMPLE> iucn red list of threatened species .
11,1,1,LETTERS,IUCN,i u c n,LETTERS,"[31, 43, 21, 29, 0]",2006 <SAMPLE> red list of threatened species .
12,1,2,NOT_CHANGED,Red,Red,PLAIN,NaN,2006 iucn <SAMPLE> list of threatened species .
13,1,3,NOT_CHANGED,List,List,PLAIN,NaN,2006 iucn red <SAMPLE> of threatened species .

In [91]:
pickle.dump(all_data, open("data/en_train_fixed_4_sentences.pkl", "wb" ))

In [105]:
len(changed_data[changed_data['after'].str.len() > 100])

867

In [96]:
changed_data.loc[8875393]['before']

'college.usc.edu/unruh/private/UnruhNews.pdfhttp://atticwritersworkshop.com/teacher/peter-zuckermanhttp://www.falconartcommunity.com/artists.htmlhttp://www.oregonlive.com/mapes/index.ssf/2014/05/gay_marriage_supporters_launch.htmlhttp://www.advocate.com/oregon/2014/05/02/watch-oregons-first-ad-defeat-turn-away-gay-initiativehttp://www.oregonlive.com/mapes/index.ssf/2014/05/oregon_gay_marriage_ban_struck.htmlhttp://www.oregonlive.com/mapes/index.ssf/2014/05/gay_marriage_backers_of_exempt.htmlhttp://www.newapproachoregon.com/contact/http://www.bendbulletin.com/localstate/2283636-151/oregon-pot-campaign-raises-over-1-millionhttp://hemp.org/news/content/oregon-addiction-expert-kicks-23-million-marijuana-legalization-ad-campaignhttp://newsok.com/legal-pot-is-top-oregon-news-story-of-2014/article/feed/777847http://www.oregonlive.com/mapes/index.ssf/2014/08/sponsors_cancel_drug_summit_in.html#incart_riverhttp://www.oregonlive.com/politics/index.ssf/2014/11/recreational_marijuana_passes.htmlhttp://college.usc.edu/faculty/faculty1003855.htmlNavigating'

# Manually checked removing

In [5]:
all_data = pickle.load(open("data/en_train_fixed_4_sentences.pkl", "rb" ))

In [6]:
chars_normal, chars_normal_index = load_characters_pkl('data/en_features/chars_normal.pkl')
common_words, common_words_index = load_common_words_10k()
chars_with_changes = pickle.load(open('data/en_features/chars_with_changes.pkl', "rb"))
chars_with_no_changes_re = re.compile("[^{}]".format(''.join(chars_with_changes)))
chars_with_single_output_dict = pickle.load(open('data/en_features/chars_with_single_output_dict.pkl', "rb"));

In [7]:
def manual_pre_checks(before):
    if chars_with_no_changes_re.search(before): #contains chars that were never changed
        return before 
    if before in chars_with_single_output_dict:
        return chars_with_single_output_dict[before]
    return False

In [41]:
manual_pre_checks('Îº')

'kappa'

In [9]:
changed_data = all_data[all_data['class'] != 'NOT_CHANGED']

In [12]:
changed_data['class'].unique()

array(['NUMBERS', 'LETTERS', 'PLAIN', 'VERBATIM', 'ELECTRONIC'], dtype=object)

In [29]:
def prepare_manual_class_by_rows(pd_rows):
    global current_row
    iter_len = len(pd_rows)
    rows_iter = pd_rows.itertuples()
    iteration_idx = 0
    start = time.time()
    
    for sample_row in log_progress(rows_iter, every=1000, size=iter_len):
        before = sample_row.before
        current_row = sample_row

        result = manual_pre_checks(sample_row.before)
        if result:
            if result != sample_row.after:
                print("PROBLEM with:", sample_row)
            else:
                all_data.at[sample_row.Index, 'class'] = 'MANUAL'

        iteration_idx += 1
        if iteration_idx%50000 == 0:
            print("{:>7d} {:>2.2%} ({:>8})".format(iteration_idx, iteration_idx/iter_len, time_since(start)))

In [30]:
prepare_manual_class_by_rows(changed_data)

  50000 7.58% (   0m 0s)
 100000 15.16% (   0m 0s)
 150000 22.74% (   0m 0s)
 200000 30.32% (   0m 0s)
 250000 37.90% (   0m 0s)
 300000 45.49% (   0m 0s)
 350000 53.07% (   0m 0s)
 400000 60.65% (   0m 1s)
 450000 68.23% (   0m 1s)
 500000 75.81% (   0m 1s)
 550000 83.39% (   0m 1s)
 600000 90.97% (   0m 1s)
 650000 98.55% (   0m 1s)

In [33]:
changed_data[changed_data['class'] == 'MANUAL']

Empty DataFrame
Columns: [sentence_id, token_id, class, before, after, class_org, a_word_ind, sentence]
Index: []

In [38]:
all_data[all_data['class'] == 'MANUAL'].sample(5)

,sentence_id,token_id,class,before,after,class_org,a_word_ind,sentence
5033346,384879,29,MANUAL,Î¿,omicron,VERBATIM,"[135, 0]",great synaxaristes : ( greek ) á¼¡ á¼ Î³ Î¹ Î± á¼ Î½ Î½...
8241234,623993,21,MANUAL,Îº,kappa,VERBATIM,"[167, 0]",124 basic training wing ( 124 Ï Ï Îµ Ï Ï Î³ Î± Î² ...
7089991,538096,16,MANUAL,Î½,nu,VERBATIM,"[152, 0]","in greek mythology , pleisthenes ( ancient gre..."
360513,28983,9,MANUAL,Î¸,theta,VERBATIM,"[237, 0]","melantho ( greek : Î¼ Îµ Î» Î± Î½ <SAMPLE> Ï ) , is..."
373892,30049,18,MANUAL,Î´,delta,VERBATIM,"[208, 0]",thomas garaklidis ( greek : Î¸ Ï Î¼ Î± Ï Î³ Îº Î± Ï ...

In [39]:
pickle.dump(all_data, open("data/en_train_fixed_5_manual.pkl", "wb" ))