In [66]:
%matplotlib inline
import importlib
from pytorch_utils_oh_1 import *
import csv

# Data loading

In [2]:
test_data_org = pd.read_csv('data/en_test.csv', keep_default_na=False)

In [3]:
len(test_data_org)

1088564

In [4]:
test_data = test_data_org.copy()

In [52]:
test_data.sample(5)

         sentence_id  token_id  before
376789         24191         8       .
1009798        64959         9  ground
795306         51160        13       .
541126         34824         7      An
23397           1524         3       (

In [54]:
for row in test_data[0:10].itertuples():

Another
religious
family
is
of
Hazrat
Sayyed
Ahmad
and
his

In [ ]:
test_data['sentence_id'] == 69999 & test_data['

# Saving results

### Modify data

result_data = test_data[0:20].copy()

In [130]:
result_data = test_data.copy()

In [131]:
tmp = list(result_data.columns)
tmp[tmp.index('before')] = 'after'
result_data.columns = tmp

In [132]:
result_data['id'] = result_data.apply(lambda row: "{}_{}".format(row['sentence_id'], row['token_id']), axis=1)

In [133]:
result_data.sample(2)

        sentence_id  token_id       after       id
1234             82        11        were    82_11
857607        55168         8  originally  55168_8

result_data.loc[10, 'after'] = '"'

### Saving to file

In [ ]:
result_file_path = 'data/en_submission_1.csv'

In [138]:
result_data.to_csv(result_file_path, index=False, columns=['id', 'after'], quoting=csv.QUOTE_ALL)